extends base

block content
    main.main
        .card-container
            each tour in tours
                .card
                    .card__header
                        h3.card__sub-heading=tour.name
                        p.card__sub-heading=`Ratings :${tour.ratingsQuantity}`
                        p.card__sub-heading=`Ratings Average :${tour.ratingsAverage}`
                    .card__footer
                        a.btn.btn--green.btn--small(href=`/review/${tour.id}`) Show All Reviews